# API Mistral
MISTRAL_API_KEY="your_mistral_api_key"

# Modèles
MODEL_ID="mistral-small-latest"
EMBEDDING_MODEL="mistral-embed"

# Données
INPUT_DIR="inputs"

# Vector Store
OUTPUT_DIR="vector_db"
FAISS_INDEX_FILE="vector_db/faiss_index.idx"
DOCUMENT_CHUNKS_FILE="vector_db/document_chunks.pkl"

# Paramètres RAG
CHUNK_SIZE=1500
CHUNK_OVERLAP=150
EMBEDDING_BATCH_SIZE=32
SEARCH_K=5

# Application
APP_TITLE="NBA Analyst AI"
NAME="NBA"